<div class="col-sm-8 offset-sm-2">
            <table class="table  table-borderless table-hover table-active">
                <tbody>
                     <tr>
                         <td class="text-center "> COVID-19 CORONAVIRUS PANDEMIC </td>
                     </tr>
                </tbody>
            </table>
        </div>

        <div class=" col-sm-6 ">
            <div class="card border-dark">
                <div class="card-body text-center">
                    <h1 >Coronavirus Cases : </h1>
                    <h2  ><span class="cases">{{ total_cases }}</span>  </h2>
                    <a href="#all_countries">View by country </a>
                </div>
            </div>
         </div>
        <div class="col-sm-6 text-center ">
            <div class="card border-secondary">
                <div class="card-body">
                    <h1>Total Deaths :  </h1>
                     <h2><span class="deaths"> {{ total_deaths }}</span> </h2>
                    <a href="#all_countries">View by country </a>
                </div>
            </div>
        </div>



        <div class=" col-sm-6 mt-3">
            <div class="card border-danger">
                <div class="card-body text-center">
                    <h1 ><span class="active_cases">Active Cases : </span></h1>
                    <h2><span class="active">{{ active_cases }}</span>  </h2>
                    <a href="#all_countries">View by country </a>
                </div>
            </div>
         </div>
        <div class="col-sm-6 mt-3">
            <div class="card border-success ">
                <div class="card-body text-center">
                     <h1><span class="total_recoverd">Total recovered :</span>  </h1>
                    <h2><span class="recovered"> {{ total_recovered }}</span> </h2>
                    <a href="#all_countries">View by country </a>
                </div>
            </div>


        </div>

